/* COLOR SCHEMA

dark pale blue: rgb(53, 80, 120)
light blue: #22508b
yellow/ gold: rgb(238, 197, 64)

*/

body {
    margin: 0;
}

h1 {
    margin-left: 1em;
    border-bottom: 1.5px solid #22508b;
    max-width: fit-content;
}

main,
footer {
    font-family: cursive;
}

header {
    display: grid;
    grid-template-columns: 100px auto 55px;
    border-bottom: 1.2px solid #d3d3d3;
    align-items: center;
    font-size: 1.2em;
    padding: 0 15px 10px;
    font-family: cursive;
}

header img {
    width: 100%;
    height: auto;
}

header span {
    text-align: center;
    font-size: 1.5em;
    color: rgb(25, 48, 83);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: #8d6e08;
}

nav a:hover {
    border-bottom: 1.5px solid rgb(56, 77, 160);
    color: #22508b;
}

.current-nav {
    border-bottom: 1.5px solid rgb(68, 93, 193);
    color: #316dbb;
}

.ham-button {
    background: none;
    border: none;
}

.ham-button::before {
    content: '\2630';
    font-size: 4em;
    padding: 0 0 0 10px;
}

.ham-button.open::before {
    content: '\00D7';
    font-size: 4em;
    padding: 0 0 0 10px;
}

.foto-rama {
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
    display: inline-block;
    opacity: 1;
    animation: fadeIn 1s ease-out, slideIn 1s ease-in-out;
    width: 100%;
}

.hero img {
    display: block;
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-20em);
    }

    to {
        transform: translateX(0);
    }
}

.title {
    display: block;
    position: absolute;
    background-color: #dfb735ca;
    text-align: center;
    padding: 15px 0 15px 15px;
    width: 98.83%;
    top: 25%;
    font-size: 2em;
    margin: 0;
}

/* ---------- ABOUT US SECTION ---------- */

h1,
h2,
h3 {
    font-family: cursive;
}

.about-us {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 80%;
    text-align: center;
    margin: 10px auto;
    border: 1.2px solid rgb(53, 80, 120);
}

.about-us h3 {
    font-weight: 800;
    border-bottom: 1.2px solid rgb(53, 80, 120);
    width: 100%;
    background-color: #22508b;
    color: white;
    margin: 0;
    padding: 10px 0;
}

.history-images
/* ---------- WEATHER --------- */

.weather {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.current,
.forecast {
    border: 1.2px solid black;
    padding: 0 4em;
    margin: 2em 0;
    background-color: #ecc586;
    border-radius: .4em;
}

/* #ecc586 */

.current h3,
.forecast h3 {
    border-bottom: 1.4px solid #22508b;
    width: 100%;
    font-size: 1.3em;
    text-align: center;
}

.current span {
    font-weight: bolder;
}

#current-weather {
    display: flex;
    flex-direction: column;
    font-size: 1.15em;
}

#current-weather img {
    align-self: center;
}

.temp {
    text-align: center;
}

.weather-forecast {
    font-size: 1.15em;
    text-align: center;
}

.weather-forecast p {
    margin-top: 0;
}

.bottom {
    border-bottom: 1.2px solid #22508b;
    padding-bottom: 10px;
    width: 100%;
}

/* --------------------- daily scriptures section --------------- */
.daily-scripture {
    border: 1.5px solid #8d6e08;
    text-align: center;
    max-width: 70%;
    margin: 2em auto;
}

.daily-scripture h3 {
    border-bottom: 1.5px solid #8d6e08;
    background-color: #e6c363;
    margin-top: 0;
    padding: 10px 0;
}


/* MOST COMMON QUESTIONS SECTIONS */
.common-questions {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.common-questions h3 {
    border-bottom: 1.5px solid #316dbb;
    max-width: fit-content;
    font-size: 1.3em;
    margin: 2em auto 0;
}

.questions {
    list-style: none;
}

.questions li {
    margin-bottom: 2em;
}

.questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 25px;
    background-color: #22508b;
    color: white;
    border: 1.5px solid rgb(0, 0, 0);
}

.questions li button {
    padding: 6px 12px;
    background-color: #ffd469;
    border: 1.5px solid rgb(206, 170, 25);
    margin-left: 10px;
}

.questions li button:hover {
    cursor: pointer;
    background-color: #dbdbdb;
    border: 1.5px solid rgb(180, 180, 180);
}

/* DIALOG */
dialog {
    max-width: 35em;
    text-align: center;
    border: 1.5px solid rgb(27, 72, 140);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(50em);
    }

    to {
        transform: translateX(0);
    }
}

dialog h3 {
    border-bottom: 1.4px solid #22508b;
    padding-bottom: 5px;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 30%);
}

dialog button {
    display: flex;
    justify-content: flex-start;
    font-size: 1.2em;
    padding: 2px 8px;
    background-color: #ffd469;
    border: 1.2px solid #6a6a6a;
    border-radius: .2em;
}

dialog button:hover {
    cursor: pointer;
    background-color: #ffdd87;
}

/* ----------------------------------- FOOTER CONTENT ----------------------- */
.personal-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(235, 235, 235);
    margin: 50px 0 0 0;
}

.personal-list {
    list-style: none;
    padding: 10px;
    padding-left: 20px;
}

.personal-list li {
    margin-bottom: 5px;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.social-media img {
    width: 60px;
    height: auto;
}

.last-info {
    list-style: none;
    padding: 10px 0 10px 0;
    margin-left: 60px;
    align-items: end;
}

.last-info li {
    margin-bottom: 5px;
}

/* ---------------------------- ABOUT US PAGE -------------------------------- */
.about-body {
    margin: 0 10px;
}

.history-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1/3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.history-images img {
    width: 100%;
    height: auto;
}

.middle-img {
    grid-row: 2/3;
    grid-column: 2/3;
    margin-top: 2em;
}

.second-img {
    grid-column: 3/4;
}

.first-img,
.second-img,
.middle-img {
    border: 1.4px solid black;
}

.about-info {
    background-color: #123666;
    color: #ffff;
    max-width: 80%;
    margin: 0 auto;
    padding: 5px 20px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.about-info2 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 10px;
    background-color: #123666;
    color: white;
    padding: 0 10px;
}

.info2-p a {
    color: rgb(117, 230, 255);
}

.info2-p a:hover {
    color: rgb(183, 77, 183);
}

.about-info3 {
    grid-column: 3/4;
    grid-row: 2/3;
    margin: 0 10px;
    background-color: #123666;
    color: white;
    padding: 0 10px;
}

.pres {
    margin-top: 3em;
    text-align: center;
}

.presidency {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.presidency div img {
    width: 100%;
    border-bottom: 1.5px solid #6a6a6a;
}

.presidency div {
    border: 1.5px solid #6a6a6a;
    text-align: center;
    background-color: rgba(196, 196, 196, 0.46)
}

.call {
    background-color: #123666;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 2em auto;
    font-size: 1.15em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.call p a {
    color: rgb(117, 230, 255);
}

.call p a:hover {
    color: rgb(183, 77, 183);
}


/* -------------------------- CONTACT US FORM PAGE ---------------------- */

.form {
    margin: 1em 2%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    max-width: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: slideIn .7s ease-out, fadeIn 0.7s ease-out;
}



.form label {
    display: flex;
    flex-direction: column;
    color: #2c3789;
    gap: 3px;
}

.form input,
select {
    padding: 4px;
    border: 1.3px solid black;
    border-radius: 0.2rem;
}

.form input:required {
    border-left: 5px solid red;
}

.form input:required:valid {
    border-left: 5px solid green;
}

.form textarea {
    height: 8em;
    width: 100%;
}

.form input[type="submit"] {
    padding: 10px;
    background-color: #25326a;
    color: white;
    transition: background-color 0.3s ease;
}

.form input[type="submit"]:hover {
    background-color: rgb(40, 79, 148);
    cursor: pointer;
}

.join-main {
    display: grid;
    grid-template-columns: 50% 50%;
}

#results {
    text-align: center;
    border: 1.5px solid rgb(20, 63, 123);
    background-color: rgba(230, 201, 107, 0.682);
}

#results h2 {
    border-bottom: 1.5px solid rgb(20, 63, 123);
    padding: 10px 0;
    background-color: rgb(230, 189, 114);
    margin-top: 0;
}

/* ------------------------------- SCHEDULE RAMA PAGE CSS ------------------------ */
.branches-info h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.branch-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.branch-buttons button {
    background-color: #22508b;
    border: 1.5px solid #303e51;
    padding: 10px 15px;
    color: white;
    font-size: 1.05em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: background-color 0.3s ease;
}

.branch-buttons button:hover {
    cursor: pointer;
    background-color: #235faf;
}

#info-branch {
    margin: 3em auto;
    padding: 5px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e0e0e0;
    border: 1.5px solid gray;
}

#info-branch div {
    max-width: 40%;
    margin: 0 auto;
}

#info-branch img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 10px solid #cfaf49;
    border-radius: 0.7em;
}