/* ------------ COLOR SCHEME --------- */
/* 

dark blue : #0d172e 
light dark blue : #233c78 

*/



/* GENERAL CSS APPLIED TO ALL SITE */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

/* ------------------ HEADER ---------------- */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    column-gap: 10px;
    border-bottom: 1.2px solid #d5d5d5;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 2px;
}

header span {
    font-size: 1.235rem;
    color: #0d172e;
}

/* ----------------- HAMBURGER ICON NAVIGATION ---------------- */
.hamburger {
    background: none;
    border: none;
    color: #233c78;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}

/* ----------- NAVIGATION BAR ---------- */
.navigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 17px;
}

.navigation ul li a:hover {
    text-decoration: none;
    border: 1.4px solid #000000;
    padding: 8px 15px;
    background-color: rgb(58, 110, 131);
    color: #fff;
}

.navigation ul li a {
    text-decoration: none;
    border: 1.4px solid #233c78;
    padding: 8px 15px;
    margin: 0;
    background-color: rgb(166, 221, 245);
    color: #081d2a;
}

.navigation li.current a {
    background-color: rgb(19, 94, 124);
    color: #ffffff;
    border: 1.4px solid #000000;
}

/* ---------------- FOOTER CONTENT -------------- */
footer {
    background-color: #ececec;
    padding: 20px;
    border: 1.3px solid #d5d5d5;
}

.social-media {
    display: flex;
    column-gap: 15px;
    justify-content: center;
}

footer p {
    text-align: center;
}

.social-media img {
    display: block;
    width: 60px;
    height: 60px;
    justify-content: center;
    border: 1px solid #cec6c6;
    border-radius: 1.8em;
    padding: 10px;
}

.social-media img:hover {
    background-color: #ffffff;
}

/* --------------- STUDENT INFO ---------- */
.student-info {
    display: grid;
    grid-template-columns: 60% 38.45%;
    column-gap: 20px;
}

.personal-photo img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 6px 2px 6px;
}

.personal-photo h2 {
    margin-top: 0;
}

.personal-photo {
    border: 1.5px solid #133042;
}

h2 {
    background-color: #233c78;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom: 1.5px solid #133042;
}

.about-me {
    border: 1.5px solid #133042;
}

.about-me h2 {
    margin-top: 0;
}

.about-me p {
    padding: 0 8px;
}




/* ------------- WEB CERTIFICATE COURSES ------------ */
.course-name {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    column-gap: 8px;
    padding: 0 10px;
}

.courses h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.courses {
    border: 1.5px solid #133042;
    margin: 25px 0;
}

.all {
    grid-column: 1/2;
    border: 1.5px solid rgb(136, 136, 136);
    padding: 5px;
    border-radius: 0.7em;
    background-color: rgb(227, 227, 227);
}

.all:hover,
.cse:hover,
.wdd:hover {
    background-color: #d5d5d5;
}

/* USE LATER */
.wdd130 {
    grid-column: 1/2;
    border: 1.2px solid rgb(175, 175, 175);
    padding: 5px;
    border-radius: 0.3em;
    background-color: rgb(174, 243, 226);
}

.cse {
    grid-column: 2/3;
    border: 1.5px solid rgb(136, 136, 136);
    padding: 5px;
    border-radius: 0.7em;
    background-color: rgb(227, 227, 227);
}

.wdd131 {
    grid-column: 2/3;
    border: 1.2px solid rgb(175, 175, 175);
    padding: 5px;
    border-radius: 0.3em;
    background-color: rgb(174, 243, 226);
}

.wdd {
    grid-column: 3/4;
    border: 1.5px solid rgb(136, 136, 136);
    padding: 5px;
    border-radius: 0.7em;
    background-color: rgb(227, 227, 227);
}

.wdd231 {
    grid-column: 3/4;
    border: 1.2px solid rgb(175, 175, 175);
    padding: 5px;
    border-radius: 0.3em;
    background-color: rgb(174, 243, 226);
}

.num-credits {
    text-align: center;
}

button {
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
}

.classes {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.classes li {
    background-color: #a3cde5;
    padding: 7px 18px;
    border: 1.3px solid #bbbbbb;
}

li.complete {
    background-color: rgb(123, 248, 163);
}





/* ------------- SMALL SCREEN USERS ---------- */
@media screen and (max-width: 38rem) {
    .navigation {
        display: none;
    }

    .navigation.show {
        display: block;
    }

    .navigation ul {
        flex-direction: column;
        gap: 25px;
    }

    .student-info {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    header,
    main,
    footer {
        max-width: 95%;
        margin: 0 auto;
    }

    .classes {
        flex-direction: column;
        padding-left: 0;
        padding: 0 10px;
        gap: 10px;
    }

    .classes li {
        border: 1.3px solid #bbbbbb;
    }

}