* {
    max-width: 1100px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

main {
    border: 1.2px solid black;
    text-align: center;
    background-color: antiquewhite;
    max-width: 800px;
}

main img {
    padding: 0;
}

.temperature {
    font-weight: 700;
}

h1 {
    text-align: center;
}

footer {
    margin-top: 20px;
    border: 1.2px solid black;
    text-align: center;
    background-color: rgb(255, 223, 182);
    padding: 15px 10px;
    max-width: 800px;
}